<div>

    <h3>京东搜索</h3>
    <input type="text" [(ngModel)]="key" (keydown)=keydown($event)><button (click)='onclick()'>搜索</button>
    <h3>搜索历史</h3>
    <ul *ngFor="let item of list let key=index" [hidden]='item.value==1'>
        <li><input type="checkbox" (change)='onchange()' [(ngModel)]="item.value"> {{item.title}} <button
                (click)='remove(key)'>X</button></li>
    </ul>
    <h3>为你推荐</h3>
    <ul *ngFor="let item of list let key=index" [hidden]='item.value==0'>
        <li><input type="checkbox" (change)='onchange()' [(ngModel)]="item.value"> {{item.title}} <button
                (click)='remove(key)'>X</button></li>
    </ul>
</div>